# Logs
logs/
*.log
tests/logs/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Allow the logs directory to be tracked but not its content
!tests/logs/
!tests/logs/.gitkeep

# Project specific
node_modules/
dist/
dist-ssr/
dist_offline/
build/
*.spec
*.local
.pytest_cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class

# Workspace config
.loglayer/
